<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/updateProfile.css">
    <title>Actualizar Perfil</title>
</head>
<body>
    <div class="container">
        <h2>Editar Perfil</h2>
         <br>
            <div class="row">
                 <div class="col">    
                        <div class="data-update">
        <h4>Info de Usuario</h4>
            <form class="form">
                <div class="container">
                <div class="form-group">
                     <label for="name" class="control-label col-md-6">Nombre usuario: </label>
                    <div class="col-md-10">
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label col-md-4">Correo: </label>
                    <div class="col-md-10">
                        <input class="form-control" type="mail">
                    </div>    
                </div>
                <div class="container row form-group">
                    <div class="col-md-3">
                        <label for="age">Edad: </label>
                        <input class="form-control" type="number">
                    </div>  
                     <div class="col-md-7">
                        <label for="option">Sexo: </label>
                        <select class="form-control" id="option">
                            <option value="">Femenino</option>
                            <option value="">Masculino</option>
                            <option value="">Otro...</option>
                        </select>   
                    </div> 
                </div>    
                <div class="container row">            
                     <button class="btn offset-8">Guardar</button>
                </div>
            </div>
            </form>
                        </div>
                     <br>
                        <div class="password-update">
                            <h4>Cambiar Contraseña</h4>
                                <form class="form">
                                     <div class="container">
                                        <div class="form-group">
                                            <label for="name" class="control-label col-md-4">Actual: </label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="password">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="control-label col-md-4">Nueva: </label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="password">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="age" class="control-label col-md-4">Repetir: </label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="password">
                                            </div>
                                        </div>

            <button class="btn offset-8">Guardar</button>
        </div>
        </form>
                        </div>
                </div>
             <br>
                
                <div class="picture-update col">
                     <h4>Imágen de Perfil</h4>
                        <form class="">
                             <div class="container">
                                    <div class="form-group">
                                        <label for="name" class="control-label col-md-4"></label>
                                        <div class="col-md-10">
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <button class="btn offset-8">Buscar</button>
                                        <div class="container imagen">
                                            <div class="imagen-profile">
                                               
                                            </div>
                                        </div>
                                    <button class="btn offset-8">Guardar</button>
                            </div>
                        </form>
                </div>
            </div>
    </div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>